<h1>Add product to your wish</h1>

<% @wish.products.each do |product| %>
  <div>
    <li class="list-group-item">
      <%= render partial: 'products/product', locals: { product: product } %>
      <p class="mb-0"> <%= product.description %></p>
    </li>
    <% if @wish.products.include?(product) %>
      <button data-controller="wish" data-action="click->wish#removeFromWishlist" data-wish-id="<%= @wish.id %>" data-product-id="<%= product.id %>">
        Remove Product
      </button>
    <% else %>
      <button data-controller="wish" data-action="click->wish#addToWishlist" data-wish-id="<%= @wish.id %>" data-product-id="<%= product.id %>">
        Add Product
      </button>
    <% end %>
  </div>
<% end %>
