<h1>product</h1>
<h1><%= @product.product_name %></h1>

<p><%= @product.price %></p>
<p><%= @product.description %></p>
 <% if @product.image.attached? %>
      <div>
        <%= image_tag url_for(@product.image), alt: @product.product_name, class: 'product-image'%>
      </div>
    <% end %>
<%= link_to "New product", new_product_path %>
